# 设置 Electron 本体下载镜像
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
# 设置 electron-builder 相关工具（如 winCodeSign, nsis）的下载镜像
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/